#github-icon {
  font-size:30px;
}

#twitter-icon {
  font-size:30px;
}
#twitter-icon-btn {
  margin-right: 70px;
  font-size:30px;
}

#toolbar {
  background-color: #e53935;
  color: white;
}

#myNameFont{
  font-family: 'Poiret One', cursive;
}

#myName {
  margin-left: 70px;
  font-size: 40px;
}

#myFamilyFont{
  font-family: 'Great Vibes', cursive;
}

#myFamily {
  margin-top: 5px;
  font-size: 40px;
}


.spacer {
  flex: 1 1 auto;
}
