#powered {
  color: aliceblue;
  margin-left: 20px;
}

#angular {
  font-size: 40px;
  margin-left: 70px;
}

.version {
  padding: 0 70px;
}

#footer {
  background-color: #455A64;
}

.spacer {
  flex: 1 1 auto;
}
