<mat-card id="myIntro" class="mat-elevation-z4" xmlns="">
  <section id="sectionClickOnMe" class="portfolio-experiment">
    <a id="clickOnMe" (click)="clickOnMe($event)">
      <span class="text">About Me!</span>
      <span class="line -right"></span>
      <span class="line -top"></span>
      <span class="line -left"></span>
      <span class="line -bottom"></span>
    </a>
  </section>

  <div class="MyTwitter">
    <blockquote class="twitter-tweet" data-cards="hidden" data-lang="en"><p lang="fa" dir="rtl">با این
      که یکی از افرادیام که به شدت از React بدم میاد ولی اینو یه نگاه سطحی انداختم بهش جالب بود!<a
        href="https://t.co/LM81Zd51hk">https://t.co/LM81Zd51hk</a></p>&mdash; Sina Darvishi
      (@SinaDarvi) <a
        href="https://twitter.com/SinaDarvi/status/1022806273958535168?ref_src=twsrc%5Etfw">July 27,
        2018</a></blockquote>
  </div>
  <!--TODO : i have a plan to embed twitter in my site-->
</mat-card>
<div mat-card-avatar id="myAvatar" class="mat-elevation-z4"></div>
<div id="splash">
  <div id='circle'></div>
  <app-about-me id="about-me-page" style="display: none"></app-about-me>
</div>



