#footer{
  bottom: 0;
  position: fixed;
  left: 0;
  right: 0;
}

#header {
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
}

#container {
  background-image: url("https://images.unsplash.com/photo-1529920300777-27eec6beaa41?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=42b9a09204cc170c653a63cd132bbe7a&auto=format&fit=crop&w=1051&q=80");
  width: 100%;
  height: 100%;
}
